@model IEnumerable<SpendWisely.Models.Expense>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Registrar nuevo gasto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.registrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.expenseCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.registrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.expenseCategory.title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">🗑️</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="totalAmount" style="margin-top: 20px; font-weight: bold;"></div>

<!--<div class="card">
       <div class="card-header">
           Cargar excel
       </div>
       <div class="card-body">

        <div class="row">
            <div class="col-sm-4">
                <input type="file" name="ExcelFile" id="inputExcel" class="form-control-file" />
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success" onclick="sendData()">Enviar Datos a BD</button>
            </div>
        </div>

       </div>
</div>-->

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var totalAmount = 0;

            var amountCells = document.querySelectorAll("table tbody td:nth-child(3)");

            amountCells.forEach(function (cell) {
                var amountText = cell.textContent.trim();

                amountText = amountText.replace(/[\$\s]/g, "");

                amountText = amountText.replace(",", ".");

                var amount = parseFloat(amountText.replace(/\./g, "").replace(",", "."));

                if (!isNaN(amount)) {
                    totalAmount += amount;
                }
            });

            var formattedTotal = Math.floor(totalAmount / 100).toString();

            var totalAmountDiv = document.getElementById("totalAmount");
            totalAmountDiv.textContent = "Gastos totales: $" + formattedTotal;
        });

        function sendData() {
            const input = document.getElementById("inputExcel");
            const formData = new FormData();
            formData.append("ExcelFile", input.files[0]);

            console.log(formData.append("ExcelFile", input.files[0]));
            console.log(input.files[0])

            fetch("Expenses/SaveExcelData", {
                method: "POST",
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(dataJson => {
                    alert(dataJson.message);
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                    alert("Hubo un error al procesar la solicitud.");
                });
        }
    </script>
}






